{% extends 'treatments.html' %}
{% load static %}

{% block braces_content %}


<section class="home-slider owl-carousel">
      <div class="slider-item bread-item" style="background-image: url('static/images/bg_1.jpg');" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container" data-scrollax-parent="true">
          <div class="row slider-text align-items-end">
            <div class="col-md-7 col-sm-12 ftco-animate mb-5">
              <p class="breadcrumbs" data-scrollax=" properties: { translateY: '70%', opacity: 1.6}"><span class="mr-2">Home</span> <span>Treatments</span></p>
              <h1 class="mb-3" data-scrollax=" properties: { translateY: '70%', opacity: .9}">INVISIBLE BRACES & ORTHODONTIC TREATMENT</h1>
            </div>
          </div>
        </div>
      </div>
	</section>


  <section class="ftco-section ftco-services">
      <div class="container">
      	<div class="row justify-content-center mb-5">
          <div class="col-md-10 text-center heading-section ftco-animate">
            <h2 class="mb-2">INVISIBLE BRACES & ORTHODONTIC TREATMENT</h2>
            <br>
            <p style="text-align: justify;">A typical orthodontic treatment involves the correction of teeth alignment. Most of the orthodontic cases are successfully completed within a short period of time, though a peculiar case can take a short time of 6 months to even 2 long years for successful completion.</p>
            <br>
            
			
          </div>
        </div>        
      </div>     
  </section>  


	
	<div class="row" style="height: auto;">
		<div class="ftco-section">
    	<div class="container">
    		<div class="row d-md-flex"> 	    		
	    		<div class="col-md-12 ftco-animate pr-md-5 order-md-first">
		    		<div class="row">
		          <div class="col-md-10 nav-link-wrap mb-5" style="margin-left: auto;">
		            <div class="nav ftco-animate nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
		              <a class="nav-link " id="v-pills-whoisthistreatmentfor-tab" data-toggle="pill" href="#v-pills-whoisthistreatmentfor" role="tab" aria-controls="v-pills-whoisthistreatmentfor" aria-selected="true">WHO IS THIS TREATMENT FOR?</a>

		              <a class="nav-link" id="v-pills-procedure-tab" data-toggle="pill" href="#v-pills-procedure" role="tab" aria-controls="v-pills-procedure" aria-selected="false">PROCEDURE</a>

					  <a class="nav-link" id="v-pills-posttreatment-tab" data-toggle="pill" href="#v-pills-posttreatment" role="tab" aria-controls="v-pills-posttreatment" aria-selected="false">POST TREATMENT CARE</a>


					  
		            </div>
		          </div>
		        <div class="col-md-12 d-flex align-items-center ml-5">
		            
		            <div class="tab-content ftco-animate" id="v-pills-tabContent">


						<div class="tab-pane fade show" id="v-pills-whoisthistreatmentfor" role="tabpanel" aria-labelledby="v-pills-whoisthistreatmentfor-tab">		                
							<p>Braces are for those who wants to correct their smile's symmetry. All abnormality in tooth like crooked, spaced or crowded teeth etc can be corrected and aligned by braces. The final result after Braces enhances your smile and gives a boost to your personal and professional life.</p>
						</div>
					  
						<div class="tab-pane fade" id="v-pills-procedure" role="tabpanel" aria-labelledby="v-pills-procedure-tab">		                
							<p>
								A detailed consultation should be done with the dentist to understand the advantages and disadvantages. Find out various types of braces like metal ceramic or Clear Aligners from your dentist and which one will be best for you and your teeth. An OPG X-ray will be advised to study the mouth and jaws for better planning of the treatment.
							</p>
							<br>
							<p>
								Professional photographs and Models are made of your teeth before starting treatment. Professional cleaning of teeth should be done prior to the braces procedure.
							</p>
							<br>
							<p>
								Don't forget to ask your orthodontist for His/ Her qualifications and experience in the field of braces. Your orthodontist can also show you before and after images of cases similar to yours, for you to get a better understanding of the final outcome and quality of work.
							</p>
                    	</div>

						<div class="tab-pane fade" id="v-pills-posttreatment" role="tabpanel" aria-labelledby="v-pills-posttreatment-tab">
								<p>
									Post treatment care will totally depend on what type of procedure you are going for. - For example if you go for an aligners eating and drinking won't be affected while treatment time. In fact, you are required to remove your aligners to eat and drink.									
									<br>
									- Brush and Rinse them with lukewarm water. Never use boiling water as it's heat can damage the aligners plastic resin.
									<br>
									- Use an orthodontic brush to maintain oral hygiene.
									<br>
									- Wear a retainer after treatment to prevent your teeth from moving again.
									<br>
									- Visit your dentist every month.
								</p>
						</div>

						
		        </div>
					</div>	  
		            </div>
		          </div>
		        </div>
		      </div>
			</div>			
    	</div>
	</div>
</div>



<!-- <section class="ftco-gallery">
	<div class="container-wrap pl-md-5">
		<div class="row no-gutters">			
			<div class="col-md-3 gallery ftco-animate img_div" style="height: 400px;">
				<img style="height: 250px; width: 250px;" class="d-flex align-items-center img_gal" src="{% static 'images/ORTHODONTIC TREATMENT/2020-10-16 (1).jpg' %}" alt="">
			</div>

			<div class="col-md-3 gallery ftco-animate img_div">
				<img  style="height: 250px; width: 250px;"  class="d-flex align-items-center img_gal" src="{% static 'images/ORTHODONTIC TREATMENT/2020-10-16.jpg' %}" alt="">
			</div>				
		</div>
		</div>
</section> -->


<div style="height: auto; width: 100%; padding: 5px 0; text-align: center;">
	<img style="width: 300px; height: 250px; margin: 10px 10px;" src="{% static 'images/ORTHODONTIC TREATMENT/2020-10-16 (1).jpg' %}" alt="">
	<img style="width: 300px; height: 250px; margin: 10px 10px;" src="{% static 'images/ORTHODONTIC TREATMENT/2020-10-16.jpg' %}" alt="">
</div>





	






{% endblock braces_content %}