{% extends 'treatments.html' %}
{% load static %}

{% block Cosmetic_Dentistry_content %}


<section class="home-slider owl-carousel">
      <div class="slider-item bread-item" style="background-image: url('static/images/COSMETIC DENTISTRY1__01 - Copy.jpg');">
        <div class="overlay"></div>
        <div class="container" data-scrollax-parent="true">
          <div class="row slider-text align-items-end">
            <div class="col-md-7 col-sm-12 ftco-animate mb-5">
              <p class="breadcrumbs" data-scrollax=" properties: { translateY: '70%', opacity: 1.6}"><span class="mr-2">Home</span> <span>Treatments</span></p>
              <h1 class="mb-3" data-scrollax=" properties: { translateY: '70%', opacity: .9}">COSMETIC DENTISTRY</h1>
            </div>
          </div>
        </div>
      </div>
	</section>

	<section class="ftco-section ftco-services">
      <div class="container">
      	<div class="row justify-content-center mb-5">
          <div class="col-md-10 text-center heading-section ftco-animate">
            <h2 class="mb-2">COSMETIC DENTISTRY</h2>
            <p style="text-align: justify;">Cosmetic dentistry (smile makeovers) is the easiest and quickest way to enhance your smile, overall face structure and personality. Cosmetic dentistry is much more than a smile makeover, it is a confidence makeover.
				This takes into account each individual’s needs and expectations and a smile has to be designed, ‘tailor made’ for them. Since this is a blend of advanced science with an artistic flair, the aesthetic dentist performing this should have very high degree of expertise, experience, a natural ‘aesthetic eye’ and a passion for aesthetics to deliver an outcome that will exceed your expectations.
				There are various procedures carried out on your front teeth, laboratories to enhance your smile quotient that includes:
			</p>
			<br>
			<p> 
				•	Dental veeners &nbsp; &nbsp;
				•	Teeth whitening &nbsp; &nbsp;
				•	Dental bonding
			</p>
			
          </div>
        </div>        
      </div>     
	</section>  

	

	<!-- <iframe style="margin-left: 300px;" width="727" height="409" src="https://www.youtube.com/embed/cQgpHufB-5k?autoplay=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->

	


	
	<div class="row" style="height: auto;">
		<div class="ftco-section">
    	<div class="container">
    		<div class="row d-md-flex"> 	    		
	    		<div class="col-md-12 ftco-animate pr-md-5 order-md-first">
		    	<div class="row">
		          <div class="col-md-12 nav-link-wrap mb-5">
		            <div class="nav ftco-animate nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical" >
						<a class="nav-link active" id="v-pills-whoisthistreatmentfor-tab" data-toggle="pill" href="#v-pills-whoisthistreatmentfor" role="tab" aria-controls="v-pills-whoisthistreatmentfor" aria-selected="true">WHO IS THIS TREATMENT FOR?</a>

						<a class="nav-link" id="v-pills-procedure-tab" data-toggle="pill" href="#v-pills-procedure" role="tab" aria-controls="v-pills-procedure" aria-selected="false">PROCEDURE</a>

						<a class="nav-link" id="v-pills-posttreatment-tab" data-toggle="pill" href="#v-pills-posttreatment" role="tab" aria-controls="v-pills-posttreatment" aria-selected="false">POST TREATMENT CARE</a>
						
						<a class="nav-link" id="v-pills-tips-tab" data-toggle="pill" href="#v-pills-tips" role="tab" aria-controls="v-pills-tips" aria-selected="false">DENTAL TIPS</a>

		            </div>
		          </div>
		          <div class="col-md-12 d-flex align-items-center ml-5">
		            
		            <div class="tab-content ftco-animate" id="v-pills-tabContent">

		              	<div class="tab-pane fade show active" id="v-pills-whoisthistreatmentfor" role="tabpanel" aria-labelledby="v-pills-whoisthistreatmentfor-tab">
		              			                
			              	<p>Our team of aesthetic dentists has been trained and performed treatments on prominent celebrities, ministers, VIPs to students, housewives and corporate workers.
								Esthetic treatment can be done to correct the following: -
			              	</p>
							<br>
							<br>
							<p style="margin-left: 50px;"> 
								•	Stained 
								<br>
								•	Misaligned Teeth
								<br>
								•	Protruded Teeth
								<br>
								•	Lengthening or short of worn teeth
								<br>
								•	Improving tooth shape or shade
								<br>
								•	Making aged teeth look youthful
								<br>
								•	Rotated Teeth
								<br>
								•	Gaps in Teeth
							</p>
							<br>							
							<p>Smile which is not in harmony with the facial structures</p>											                
				     	</div>

		             	<div class="tab-pane fade" id="v-pills-procedure" role="tabpanel" aria-labelledby="v-pills-procedure-tab">		                			                
							<p>
								We start with a one on one consultation process to understand the patients personality and attitude as a whole followed by a thorough examination and in depth discussion of the patient's expectation of a perfect smile.
								Smile makeovers can be completed within a time frame of 1 day to 1 week depending upon various factors.Professional cleaning of teeth should be done prior to starting any type of procedure whether veneers / braces.
							</p>
							<br>
							<h4>
								Veneers:
							</h4>
							<p>
								If you are going for veneers ,your dentist will make study models of your teeth so that you can get an idea of what your teeth can look like when the porcelain veneers are in place. Once these models are approved, an appointment can be set up for the actual procedure. Local anaesthesia is generally recommended if there will be tooth preparation to avoid any discomfort. Once the preparation of your teeth is completed your dentist will make an impression of your teeth. This impression will be used by the dental laboratory to create your custom porcelain veneers. Initially your dentist will place the veneers to check that the colour, shape and size is as desired. If they meet all your expectations, the dentist will bond them to your teeth creating your new smile.
							</p>
							<br>
							<h4>
								Tooth Whitening:
							</h4>
							<p>
								Tooth whitening is the simplest procedure to get a sparkle in your smile. Your dentist will apply either a protective gel or a rubber shield to protect your gums. Bleaching gel is then applied to the teeth. A special light or laser might be used to enhance the action of the whitening agent. The session lasts 10 to 15 minutes. Two or three of these sessions may be required varying from case to case.
							</p>
							<br>
							<h4>
								Dental Bonding:
							</h4>
							<p>
								This is the quickest way to get the perfect teeth. Your dentist will properly isolate your tooth by using cotton rolls / rubber dam. After that a soft tooth like material is bonded directly to your teeth in multiple thin layers and hardened it with a UV light. This layering is done till the desired shade and shape is achieved. The final result is closest in appearance to that of surrounding natural teeth.
							</p>
							<br>
							<p>
								All these procedures can beautify your pearly white smile and by choosing the correct procedure, you can have something to smile about everyday!
							</p>
				        </div>

		              	<div class="tab-pane fade" id="v-pills-posttreatment" role="tabpanel" aria-labelledby="v-pills-posttreatment-tab">		            
			            	<p>
								- After care instructions depends from case to case depending upon the procedure chosen to bring about the smile make-over.
								<br>
								- Do maintain a healthy dental regimen by regular Brushing and Flossing.
								<br>
								- Use a soft brush with non - abrasive toothpaste.
							</p>				        
					  	</div>
					  
					  	<div class="tab-pane fade" id="v-pills-tips" role="tabpanel" aria-labelledby="v-pills-tips-tab">		            
			            	<p>
								- Maintain oral hygiene by regular brushing twice a day and flossing.
								<br>
								- Visit your dentist every 3 - 6 months.
								<br>
								- Eat healthy foods like green vegetables, fruits and dairy products like milk, cheese.
								<br>
								- Drink plenty of water before and after meals so the unwanted food particles are flushed out.
								<br>
								- Limit the consumption of acidic foods and beverages like tea, coffee, fizzy drinks.
								<br>
								- Limit the consumption of sticky foods like pizza, candies, chocolates etc.
								<br>
								- Avoid biting finger nails, pen's cap, pencils etc and avoid using your teeth to open bottles or to tear packet
							</p>				        
						  </div>
						  

		            </div>
		          </div>
		        </div>
		      </div>
			</div>			
    	</div>
	</div>
</div>




<div style="height: auto; width: 100%; padding: 5px 0; text-align: center;">
	<img style="width: 250px; height: 250px; margin: 10px 20px;" src="{% static 'images/COSMETIC DENTISTRY/IMG_20180719_025924.JPG' %}" alt="">
	<img style="width: 250px; height: 250px; margin: 10px 20px;" src="{% static 'images/COSMETIC DENTISTRY/IMG_20180721_004414.JPG' %}" alt="">
	<img style="width: 250px; height: 250px; margin: 10px 20px;" src="{% static 'images/COSMETIC DENTISTRY/IMG_20180728_213929.JPG' %}" alt="">
	<img style="width: 250px; height: 250px; margin: 10px 20px;" src="{% static 'images/COSMETIC DENTISTRY/IMG_20190323_153543.JPG' %}" alt="">
</div>







{% endblock Cosmetic_Dentistry_content %}
