{% extends 'treatments.html' %}
{% load static %}

{% block braces_content %}


<section class="home-slider owl-carousel">
      <div class="slider-item bread-item" style="background-image: url('static/images/74925108.jpg');">
        <div class="overlay"></div>
        <div class="container" data-scrollax-parent="true">
          <div class="row slider-text align-items-end">
            <div class="col-md-7 col-sm-12 ftco-animate mb-5">
              <p class="breadcrumbs" data-scrollax=" properties: { translateY: '70%', opacity: 1.6}"><span class="mr-2">Home</span> <span>Treatments</span></p>
              <h1 class="mb-3" data-scrollax=" properties: { translateY: '70%', opacity: .9}">COVID PROTOCOL</h1>
            </div>
          </div>
        </div>
      </div>
	</section>


  <section class="ftco-section ftco-services">
      <div class="container">
      	<div class="row justify-content-center mb-5">
          <div class="col-md-10 text-center heading-section ftco-animate">
            <h2 class="mb-2">COVID PROTOCOL</h2>
            <br>
			<p style="text-align: justify;">
				We understand your need for a safe and worry-free dental care experience during this time, that is why we have taken active measures in-line with recommendations by the WHO, American Dental Association and the FDI to implement strict protocols and processes.
			</p>
			<br>
			<p style="text-align: justify;">
				At Roots Dental Care, the creation of a safe environment for all dental procedures rests on four key pillars which ensure that our patients receive the very best dental care possible, even in the current circumstances;
			</p>
			<br>
			<p style="text-align: justify;">
				<h4 style="text-align: justify;">INFRASTRUCTUREAND PROCESSES :-</h4>
					<p style="text-align: justify;">
						<br>
						- Gums are tender, swollen, infected, bleed easily while brushing.
						<br>
						- Tartar is accumulated due to unhealthy eating habits leading to a common complaint of patients that is bad breath.
						<br>
						- Gums are seen more than a tooth resulting in a gummy smile.
						<br>
						- Gums are having blackish, greyish or brownish tinge due to tobacco or any other smoking habit.
					</p>
			</p>  
			<br>
			<p style="text-align: justify;">
				•	We are located in a complex that adheres to stringent COVID protocols.
				<br>
				•	Space management allows for easy maintenance of social distancing.
				<br>
				•	Systematic time management ensures appointments are spaced to avoid orminimize waiting time or overlap.
				<br>
				•	A dedicated area for donning and doffing of PPEs (Personal Protective Equipment).
				<br>
				•	Operatories spaced apart, allow separate treatment rooms for each patient;mitigating any chance of cross-contamination.
			</p>  
			<br>
			<p style="text-align: justify;">
				<h4 style="text-align: justify;">STERILIZATIONAND SANITATION :-</h4>
				<p style="text-align: justify;">
					<br>
				Our sterilization and disinfection protocols are based on the guidelines set by the WHO, American Dental Association, FDI and the recent COVID prevention guidelines.
				<br>
				<br>
				•	A dedicated sterilization room
				<br>
				•	Daily fumigation, surface disinfection and fogging of all dental care centers.
				<br>
				•	Disinfection of the premises around the clinic, ensuring standards of hygiene are maintained.
				<br>
				•	Safe and hygienic disposal of biomedical waste.
				<br>
				•	The use of disposable instruments wherever possible.
				<br>
				•	Dedicated operatory for aerosol-generating procedures to eliminate chances of cross-contamination.
				</p>
				
			</p>
			<br>
			<p style="text-align: justify;">
				<h4 style="text-align: justify;">TECHNOLOGY :-</h4>
				<br>
				<p style="text-align: justify;">Our use of the latest technology reduces the number of visits required for key procedures so that our patients can minimize their need to travel for expert dental care.</p>	
			</p>
			<br>
			<p style="text-align: justify;">
				<h4 style="text-align: justify;">PERSONNEL :-</h4>
				<br>
				<p style="text-align: justify;">
					•	Every doctor and staff member at RDC has received formal training to ensure adherence to the best practices.
					<br>
					•	All our doctors have received WHO certification to manage infection control.
					<br>
					•	Meticulous training and monitoring of all staff to ensure the implementation of the latest protocols and guidelines.
				</p>
				
			</p>
			<br>
			<h4 style="text-align: justify;">PROTOCOL</h4>
			<br>
			<p style="text-align: justify;">
				<h4>PRE-APPOINTMENT :-</h4>
				<br>
				<p style="text-align: justify;">
					•	Telephonic health check/online assessment before confirmation of your appointment
					<br>
					•	Strict appointment scheduling, with specific time allotment for each patient
				</p>
				
			</p>
			<br>
			<p style="text-align: justify;">
				<h4 style="text-align: justify;">UPON ENTERING THE PREMISES :-</h4>
				<br>
				<p style="text-align: justify;">
					•	Thermal scanning using a non-contact infrared thermometer
				<br>
				•	Blood oxygen level checked with a pulse oximeter (to rule out silent hypoxia)
				<br>
				•	Shoes not allowed inside
				<br>
				•	Hand sanitization
				</p>
				
			</p>
			<br>
			<p style="text-align: justify;">
				<h4 style="text-align: justify;">BEFORE THE APPOINTMENT :-</h4>
				<br>
				<p style="text-align: justify;">
					•	PPE (>70GDM) surgical gowns
				<br>
				•	Face shield for aerosol-generating procedures
				<br>
				•	Triple-layered surgical masks and N95 masks
				<br>
				•	Cling wrapping of all possible surfaces
				<br>
				•	All non-essential equipment removed from operatory
				</p>
				
			</p>
			<br>
			<p style="text-align: justify;">
				<h4 style="text-align: justify;">DISINFECTION :-</h4>
				<br>
				<p style="text-align: justify;">
					•	3 meters around the chair (1% sodium hypochlorite)
				<br>
				•	HPV fumigation
				<br>
				•	Pre-procedural mouth rinse
				<br>
				•	Autoclaving
				<br>
				•	Disinfection of impressions
				<br>
				•	Standard disinfection of all instruments
				</p>
				
			</p>
			<br>
			<p style="text-align: justify;">
				<h4 style="text-align: justify;">VENTILATION :-</h4>
				<br>
				<p style="text-align: justify;">
					•	Pedestal/exhaust fan (direction of air away from the operator)
				<br>
				•	High power extra oral evacuation
					
				</p>
				
			</p>
			<br>
			<p style="text-align: justify;">
				<h4 style="text-align: justify;">DURING THE DENTAL TREATMENT :-</h4>
				<br>
				<p style="text-align: justify;">
					•	Only the patient is allowed to enter the operatory
				<br>
				•	Head cap will be provided to each patient before getting into the dental chair
				<br>
				•	Use of rubber dam and high volume saliva ejectors to control aerosol transmission during treatment
				<br>
				•	No movement between operatories during procedures
				</p>
				
			</p>
			<br>
			<p style="text-align: justify;">
				<h4 style="text-align: justify;">AFTER THE DENTAL TREATMENT :-</h4>
				<br>
				<p style="text-align: justify;">
					•	Post-operative instructions along with a medical prescription for patients
				<br>
				•	Digital/electronic payments encouraged to reduce the possibility of contact
				<br>
				•	Disinfection spray before exiting the dental clinic
				<br>
				•	Working areas cleaned and disinfected with the help of UV Blasters
				<br>
				•	By incorporating and adhering to strict health measures, we have created a safe and secure environment so that you can have a worry free experience. With the necessary precautions in place, our doors are open and we are ready to welcome you.
				</p>
				
			</p>
          </div>
        </div>        
      </div>     
  </section>  

	


{% endblock braces_content %}