{% extends 'treatments.html' %}
{% load static %}

{% block crowns_and_bridges_content %}


<section class="home-slider owl-carousel">
      <div class="slider-item bread-item" style="background-image: url('static/images/crown_bridges.jpg');">
        <div class="overlay"></div>
        <div class="container" data-scrollax-parent="true">
          <div class="row slider-text align-items-end">
            <div class="col-md-7 col-sm-12 ftco-animate mb-5">
              <p class="breadcrumbs" data-scrollax=" properties: { translateY: '70%', opacity: 1.6}"><span class="mr-2">Home</span> <span>Treatments</span></p>
              <h1 class="mb-3" data-scrollax=" properties: { translateY: '70%', opacity: .9}">CROWNS AND BRIDGES</h1>
            </div>
          </div>
        </div>
      </div>
	</section>


  <section class="ftco-section ftco-services">
      <div class="container">
      	<div class="row justify-content-center mb-5">
          <div class="col-md-10 text-center heading-section ftco-animate">
            <h2 class="mb-2">CROWNS AND BRIDGES</h2>
            <br>
            <p style="text-align: justify;">Crowns are dental restorations which completely cap or encircle a tooth to improve the strength or appearance of the tooth. </p>
            <br>
            <p style="text-align: justify;">A Bridge is a dental restoration used to replace a missing tooth or teeth by permanently joining (by means of crowns) to the teeth adjacent to the toothless area.</p>
            <br>            
          </div>
        </div>        
      </div>     
  </section>  


  


	
	<div class="row" style="height: auto;">
		<div class="ftco-section">
    	<div class="container">
    		<div class="row d-md-flex"> 	    		
	    		<div class="col-md-12 ftco-animate pr-md-5 order-md-first">
		    		<div class="row">
		          <div class="col-md-12 nav-link-wrap mb-5">
		            <div class="nav ftco-animate nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
		              <a class="nav-link active" id="v-pills-whoisthistreatmentfor-tab" data-toggle="pill" href="#v-pills-whoisthistreatmentfor" role="tab" aria-controls="v-pills-whoisthistreatmentfor" aria-selected="true">WHO IS THIS TREATMENT FOR?</a>

		              <a class="nav-link" id="v-pills-preparation-tab" data-toggle="pill" href="#v-pills-preparation" role="tab" aria-controls="v-pills-preparation" aria-selected="false">PREPARATION</a>

		              <a class="nav-link" id="v-pills-procedure-tab" data-toggle="pill" href="#v-pills-procedure" role="tab" aria-controls="v-pills-procedure" aria-selected="false">PROCEDURE</a>

					  <a class="nav-link" id="v-pills-posttreatment-tab" data-toggle="pill" href="#v-pills-posttreatment" role="tab" aria-controls="v-pills-posttreatment" aria-selected="false">POST TREATMENT CARE</a>
					  
		              <a class="nav-link" id="v-pills-tips-tab" data-toggle="pill" href="#v-pills-tips" role="tab" aria-controls="v-pills-tips" aria-selected="false">DENTAL TIPS</a>

		            </div>
		          </div>
		          <div class="col-md-12 d-flex align-items-center ml-5">
		            
		            <div class="tab-content ftco-animate" id="v-pills-tabContent">

		              <div class="tab-pane fade show active" id="v-pills-whoisthistreatmentfor" role="tabpanel" aria-labelledby="v-pills-whoisthistreatmentfor-tab">
		              	<div>			                
			              	<p>Crown and Bridges is recommended to patients for various reasons, like: </p>
                        <br>    
							<p style="margin-left: 50px;"> 
									•	Protect a root canal treated tooth 
								<br>
									•	Hold a dental bridge in place
								<br>
									•	Cover severely discoloured teeth
								<br>
									•	Cover a dental implant
								<br>								
									•	Make a cosmetic modification etc...
								<br>								
							</p>
							<br>				
								
											                
				            </div>
		              </div>

		              <div class="tab-pane fade" id="v-pills-preparation" role="tabpanel" aria-labelledby="v-pills-preparation-tab">
                    <div>			                
                      <p>
                        A detailed consultation should be done with the dentist to understand the importance of a fixed crown (cap) which eventually strengthens your damaged tooth serving the following benefits:-
                      </p>
                      <br>
					<p>
						- Improves the aesthetics of your smile.
						<br>
						- Returns broken teeth their natural chewing function capabilities.
						<br>
						- Conceals previous procedures including fillings, implants and root canals etc.
						<br>
						X-ray (radiograph)is advised to aid in more detailed and precise treatment planning.
						<br>
						Find out the various types of dental crowns and which one will be best suited for your teeth. After your all questions are answered the dentist can start the procedure.
					</p>							
                    </div>
					  </div>
					  
					  <div class="tab-pane fade" id="v-pills-procedure" role="tabpanel" aria-labelledby="v-pills-procedure-tab">
						<div>			                
						  <p>
							Placing a permanent dental crown typically takes 2 dental office visits.
						  </p>
						  <br>
						  <h4>First Visit :- </h4>
						  <br>
						<p>
								•	Your dentist will anesthetize (numb) the tooth and surrounding gum tissue and then shape the biting surface and sides of the tooth. 
							<br>
								•	Impression of the prepared tooth and jaw as well as the opposite jaw is taken.
							<br>
								•	If the tooth is very decayed or otherwise too small to hold the crown, the dentist may "build up" the tooth to hold the crown. 
							<br>
								•	The dentist will also determine the shade of porcelain to match the surrounding teeth. During this 1st office visit the dentist will make a temporary crown to cover the prepared tooth until the permanent one is ready. 
							<br>
								•	The temporary crown is held in place using temporary cement.
						</p>
						<br>
						<h4>Second visit :- </h4>
						<br>
						<p>Your dentist will remove the temporary crown and check the fit and colour of the permanent crown. If everything is correct, then the dentist will fix the permanent crown with cement.</p>			
						</div>
						  </div>

		              <div class="tab-pane fade" id="v-pills-posttreatment" role="tabpanel" aria-labelledby="v-pills-posttreatment-tab"><div>
			            	<p>
								While a crowned tooth does not require any special care, remember that simply because a tooth is crowned does not mean the tooth is protected from decay or gum disease.
							</p>
								<br>
								<br>
								<h4>Therefore :-</h4>
								<br>
								<p>
									- Maintain your oral hygiene by regular brushing twice a day, flossing daily especially around the crown area where the gum meets the tooth.
								</p>
								<br>
								<p>
									- Rinsing with an antibacterial mouthwash at least once a day.
								</p>								
								<br>
								<p>
									- See your dentist on a regular basis.
								</p>
								<br>
								<p>
									- Avoid chewing hard or sticky foods, chewing ice, biting fingernails and using your teeth to open packaging which may cause your own crown to break or become loose.
								</p>
							
				        </div>
					  </div>
					  
					  <div class="tab-pane fade" id="v-pills-tips" role="tabpanel" aria-labelledby="v-pills-tips-tab">
		                <div>
			            	<p>
								- Maintain oral hygiene by regular brushing twice a day and flossing.
								<br>
								- Visit your dentist every 3 - 6 months.
								<br>
								- Eat healthy foods like green vegetables, fruits and dairy products like milk, cheese.
								<br>
								- Drink plenty of water before and after meals so the unwanted food particles are flushed out.
								<br>
								- Limit the consumption of acidic foods and beverages like tea, coffee, fizzy drinks.
								<br>
								- Limit the consumption of sticky foods like pizza, candies, chocolates etc.
								<br>
								- Avoid biting finger nails, pen's cap, pencils etc and avoid using your teeth to open bottles or to tear packet

							</p>
				        </div>
		              </div>
		            </div>
		          </div>
		        </div>
		      </div>
			</div>			
    	</div>
	</div>
</div>



<!-- <section class="ftco-gallery">
	<div class="container-wrap pl-md-5">
		<div class="row no-gutters">			
			<div class="col-md-3 gallery ftco-animate img_div" style="height: 400px;">
				<img style="height: 250px; width: 250px;" class="d-flex align-items-center img_gal" src="{% static 'images/crown and bridge/0_nirma1_watermark_Wed_11032020_105133.jpg' %}" alt="">
			</div>

			<div class="col-md-3 gallery ftco-animate img_div">
				<img  style="height: 250px; width: 250px;"  class="d-flex align-items-center img_gal" src="{% static 'images/crown and bridge/clinic.jpg' %}" alt="">
			</div>			

				<div class="col-md-3 gallery ftco-animate img_div">
				<img  style="height: 250px; width: 250px;"  class="d-flex align-items-center img_gal" src="{% static 'images/crown and bridge/IMG_20190414_214300.JPG' %}" alt="">
			</div>		

				<div class="col-md-3 gallery ftco-animate img_div">
				<img  style="height: 250px; width: 250px;"  class="d-flex align-items-center img_gal" src="{% static 'images/crown and bridge/IMG_20190603_215407.JPG' %}" alt="">
			</div>				
		</div>
		</div>
</section> -->


<div style="height: auto; width: 100%; padding: 5px 0; text-align: center;">
	<img style="width: 250px; height: 250px; margin: 10px 20px;" src="{% static 'images/crown and bridge/0_nirma1_watermark_Wed_11032020_105133.jpg' %}" alt="">
	<img style="width: 250px; height: 250px; margin: 10px 20px;" src="{% static 'images/crown and bridge/clinic.jpg' %}" alt="">
	<img style="width: 250px; height: 250px; margin: 10px 20px;" src="{% static 'images/crown and bridge/IMG_20190414_214300.JPG' %}" alt="">
	<img style="width: 250px; height: 250px; margin: 10px 20px;" src="{% static 'images/crown and bridge/IMG_20190603_215407.JPG' %}" alt="">
</div>






	






{% endblock crowns_and_bridges_content %}