{% extends 'treatments.html' %}
{% load static %}

{% block dental_implants_content %}


<section class="home-slider owl-carousel">
      <div class="slider-item bread-item" style="background-image: url('static/images/dental-implants-1.jpg');">
        <div class="overlay"></div>
        <div class="container" data-scrollax-parent="true">
          <div class="row slider-text align-items-end">
            <div class="col-md-7 col-sm-12 ftco-animate mb-5">
              <p class="breadcrumbs" data-scrollax=" properties: { translateY: '70%', opacity: 1.6}"><span class="mr-2">Home</span> <span>Treatments</span></p>
              <h1 class="mb-3" data-scrollax=" properties: { translateY: '70%', opacity: .9}">DENTAL IMPLANTS</h1>
            </div>
          </div>
        </div>
      </div>
</section>


  <section class="ftco-section ftco-services">
      <div class="container">
      	<div class="row justify-content-center mb-5">
          <div class="col-md-10 text-center heading-section ftco-animate">
            <h2 class="mb-2">DENTAL IMPLANTS</h2>
            <br>
            <p style="text-align: justify;">
				Implants are the most natural looking permanent replacements for missing original teeth. An implant is a titanium structure which is inserted into the gums followed by a waiting period of 2-4 months during which healing occurs and bone grows around the implant.Crowns or bridges can then be fitted over these implants to restore function and aesthetics optimally. The procedure is pain free, minimally invasive and implants are comfortable and virtually indistinguishable from natural teeth.
			</p>
			<br>
			<br>
			<div style="text-align: justify;">
			<h4>
				What is the benefit of dental implants?
			</h4>
			<p>
				Dental implants restore lost teeth, while looking, feeling and functioning like natural teeth. They are long lasting and protect your jawbone from deterioration.
			</p>
			<br>

			<h4>
				Who requires dental Implants?
			</h4>
			<p>
				Dental implants restore lost teeth, while looking, feeling and functioning like natural teeth. They are long lasting and protect your jawbone from deterioration.
			</p>
			<br>

			<h4>
				What are the types of Dental Implants?
			</h4>
			<p>
				We offer immediate load implants, all on 4, all on 6, mini implants, basal implants, one visit implants, zirconia implants and implant supported dentures.
			</p>
			<br>

			<h4>
				Is it possible to get implants for a tooth or even multiple tooth?
			</h4>
			<p>
				We provide replacement of single tooth, multiple tooth as well as all of the teeth.
			</p>
			<br>

			<h4>
				How do dental implants work?
			</h4>
			<p>
				With time, the dental implant fuses with the jawbone and establishes a strong and long lasting foundation for your replacement tooth to mount.
			</p>
			<br>	
			
			<h4>
				How long does it take? - I’ve heard the procedure can take several months. Is that true?
			</h4>
			<p>
				The time frame depends on the technology and the case itself, it can be completed either in a single day, two weeks or even two stages spread over 3 months.
			</p>
			<br>	

			<h4>
				How are they placed?
			</h4>
			<p>
				Dental implants involve the placement of titanium deep into the bone, where required. At Dentzz, strict hygiene standards are maintained and therefore these implants are placed with repeatedly sterilized instruments.
			</p>
			<br>

			<h4>
				Who is eligible for dental implants?
			</h4>
			<p>
				Any person from any age group, who are missing one or more of their teeth due to injury, disease or decay are eligible for dental implants.
			</p>
			<br>

			<h4>
				Is it is a painful process?
			</h4>
			<p>
				No, most treatments at RDC due to technological advancements are painless.
			</p>
			<br>
			
			<h4>
				Which is better – Crown or Dental Implants?
			</h4>
			<p>
				Dental implants do not apply any pressure on the other teeth, require little maintenance and are longer lasting as compared to crowns.
			</p>
			<br>

			<h4>
				What happens during the procedure?
			</h4>
			<p>
				Generally a dentist uses a local anesthesia for most patients. The titanium is then placed deep in the jaw bone with the help of highly sterilized equipment.
			</p>
			<br>

			<h4>
				How long do they last?
			</h4>
			<p>
				These dental implants can last a lifetime, if they receive the recommended care.
			</p>
			<br>

			<h4>
				Are dental implants safe though?
			</h4>
			<p>
				Yes, dental implants are absolutely safe.
			</p>
			<br>

			<h4>
				What precautions do I need to take after getting dental Implants?
			</h4>
			<p>
				Avoid extreme temperatures such as cold or hot drinks as well as hot food directly after surgery. Try not to disturb the area by swilling liquid around your implants or fidgeting with your fingers and tongue. Do not undertake strenuous exercise for the first 48 hours.
			</p>
			<br>

			<h4>
				How to keep my teeth clean and hygienic after Dental Implants?
			</h4>
			<p>
				Use a mouthwash as recommended by us at least three times a day and continue to brush your teeth starting from the evening of your surgery, however avoid the surgical site for a few days.
			</p>
			<br>

			<h4>
				Why are dental implants becoming so popular with every passing day?
			</h4>
			<p>
				It is because the implant looks as well as functions like a natural tooth Hence, it is the perfect replacement for the missing tooth. It is a structure made from Titanium which is inserted into the gums. Once the gums heal fully (it may take two to three months) and the bone grows around implants, a crown or bridge is fitted on top of it.
			</p>
			</div>
          </div>
        </div>        
      </div>     
  </section>  



<!-- <section class="ftco-gallery">
	<div class="container-wrap pl-md-5">
		<div class="row no-gutters">			
			<div class="col-md-3  ftco-animate img_div" style="height: 400px;">
				<img style="height: 200px; width: 250px;" class="d-flex align-items-center img_gal" src="{% static 'images/implant/Desktop21.jpg' %}" alt="">
			</div>

			<div class="col-md-3  ftco-animate img_div">
				<img  style="height: 200px; width: 250px;"  class="d-flex align-items-center img_gal" src="{% static 'images/implant/IMG_0945.jpg' %}" alt="">
			</div>			

				<div class="col-md-3  ftco-animate img_div">
				<img  style="height: 200px; width: 250px;"  class="d-flex align-items-center img_gal" src="{% static 'images/implant/IMG_0949.jpg' %}" alt="">
			</div>		

				<div class="col-md-3  ftco-animate img_div">
				<img  style="height: 200px; width: 250px;"  class="d-flex align-items-center img_gal" src="{% static 'images/implant/IMG_1113.jpg' %}" alt="">
			</div>				
		</div>
	</div>
</section> -->


<div style="height: auto; width: 100%; padding: 5px 0; text-align: center;">
	<img style="width: 300px; height: 150px; margin: 10px 15px;" src="{% static 'images/implant/Desktop21.jpg' %}" alt="">
	<img style="width: 300px; height: 150px; margin: 10px 15px;" src="{% static 'images/implant/IMG_0945.jpg' %}" alt="">
	<img style="width: 300px; height: 150px; margin: 10px 15px;" src="{% static 'images/implant/IMG_0949.jpg' %}" alt="">
	<img style="width: 300px; height: 150px; margin: 10px 15px;" src="{% static 'images/implant/IMG_1113.jpg' %}" alt="">
</div>

 	
  

  

	
	






	






{% endblock dental_implants_content %}