{% extends 'treatments.html' %}
{% load static %}

{% block extraction_content %}


<section class="home-slider owl-carousel">
      <div class="slider-item bread-item" style="background-image: url('static/images/wisdom-teeth-removal-cost.jpg');" >
        <div class="overlay"></div>
        <div class="container" data-scrollax-parent="true">
          <div class="row slider-text align-items-end">
            <div class="col-md-7 col-sm-12 ftco-animate mb-5">
              <p class="breadcrumbs" data-scrollax=" properties: { translateY: '70%', opacity: 1.6}"><span class="mr-2">Home</span> <span>Treatments</span></p>
              <h1 class="mb-3" data-scrollax=" properties: { translateY: '70%', opacity: .9}">WISDOM TOOTH EXTRACTION</h1>
            </div>
          </div>
        </div>
      </div>
	</section>


  <section class="ftco-section ftco-services">
      <div class="container">
      	<div class="row justify-content-center mb-5">
          <div class="col-md-10 text-center heading-section ftco-animate">
            <h2 class="mb-2">WISDOM TOOTH EXTRACTION</h2>
            <br>
            <p style="text-align: center;">A wisdom tooth is the last molar tooth in the mouth that appears at a later age. Wisdom teeth are usually four in number two in the upper jaw and two in the lower jaw. Most often wisdom teeth do not have enough space to erupt straight in the mouth. Due to this they get decayed posing a threat to neighbouring teeth as well. Impacted wisdom teeth can be very painful and can cause constant nagging pain, ear/jaw ache, difficulty in opening the mouth /chewing etc. If left in the mouth for a long time they can develop infection which spreads to surrounding gums and bone.</p>
            <br>
            
			
          </div>
        </div>        
      </div>     
  </section>  
  


  <section class="ftco-section ftco-services">
    <div class="container">
      <div class="row justify-content-center mb-5">
        <div class="col-md-10 text-center heading-section ftco-animate">
          <h2 class="mb-2">RESTORATIONS (Tooth Fillings)</h2>
          <br>
          <p style="text-align: justify;">Cavities or old discoloured restorations are replaced by tooth coloured composite materials. Great care is taken to maintain the natural shape and characteristics of the original tooth thereby making them indistinguishable from adjoining tooth structure using Bioclear matrix system,USA and finest brands of composite materials, thus enabling us to mimic tooth structure to the tee and allow no distinction to the human eye between the natural tooth structure and the added composite material.</p>
          <br>            
        </div>
      </div>        
    </div>     
</section>  


	
<div class="row" style="height: auto;">
	<div class="ftco-section">
    	<div class="container">
    		<div class="row d-md-flex"> 	    		
	    		<div class="col-md-12 ftco-animate pr-md-5 order-md-first">
		    		<div class="row">
						<div class="col-md-12 nav-link-wrap mb-5">
							<div class="nav ftco-animate nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical" style="margin-left: 100px;">
								<a class="nav-link active" id="v-pills-whoisthistreatmentfor-tab" data-toggle="pill" href="#v-pills-whoisthistreatmentfor" role="tab" aria-controls="v-pills-whoisthistreatmentfor" aria-selected="true">WHO IS THIS TREATMENT FOR?</a>

								<a class="nav-link" id="v-pills-procedure-tab" data-toggle="pill" href="#v-pills-procedure" role="tab" aria-controls="v-pills-procedure" aria-selected="false">PROCEDURE</a>

								<a class="nav-link" id="v-pills-posttreatment-tab" data-toggle="pill" href="#v-pills-posttreatment" role="tab" aria-controls="v-pills-posttreatment" aria-selected="false">POST TREATMENT CARE</a>							
							</div>
				  		</div>
				  

						<div class="col-md-12 d-flex align-items-center ml-5">
						
							<div class="tab-content ftco-animate" id="v-pills-tabContent">

								<div class="tab-pane fade show active" id="v-pills-whoisthistreatmentfor" role="tabpanel" aria-labelledby="v-pills-whoisthistreatmentfor-tab">		                
									<p>
										Wisdom tooth extraction is recommended in cases of decayed, un-erupted or wrongly erupting last molar teeth. Symptoms of the above may be pain while opening their mouth or chewing food, severe or dull nagging tooth ache, ear/jaw pain, difficulty in eating due to swelling of gums around the tooth.
									</p>
									<br>
									<br>
									Not removing a potential troublesome wisdom tooth may lead to may complications:
										<br>
										
										<p style="margin-left: 50px;"> 
												- Tilted or wrongly erupting wisdom teeth are very difficult to clean and will most definitely get decayed if extraction is prolonged.
											<br>
												- Decay will spread to neighbouring teeth leading to cavities or even root canal.
											<br>
												- Swelling and infection around the tooth and gums may spread to the bone.
											<br>
											- In extreme cases infection may lead to cyst formation.									
										</p>
								</div>
							

								<div class="tab-pane fade" id="v-pills-procedure" role="tabpanel" aria-labelledby="v-pills-procedure-tab">                		                
									<p>
										When carefully executed by skilled and experienced doctors it is a very safe and predictable procedure. Local anaesthesia is used and the teeth are carefully and delicately removed. In some cases surrounding bone may need to be trimmed to remove the tooth. The opening left after the extraction is sealed with stitches to avoid any bleeding and ensure healing.
									</p>									
								</div>
							

								<div class="tab-pane fade" id="v-pills-posttreatment" role="tabpanel" aria-labelledby="v-pills-posttreatment-tab">
									<p>
										- When anesthesia wears off there may be jaw stiffness, difficult in opening mouth, pain.
										<br>
										- Don't rinse, spit forcibly or drink from a straw for 24 hours.
										<br>
										- Analgesics/pain killers are prescribed for controlling the discomfort.
										<br>
										- Eat soft foods / liquid like smoothies, yogurt, shakes, pudding, soups, pureed foods etc.
										<br>
										- Avoid spicy foods, nuts, popcorn, smoking, tobacco etc.
										<br>
										- Avoid brushing and flossing on the extraction site for a day.
										<br>
										- After 24 hours, rinse with a solution of 1/2 teaspoon of salt mixed with 1 glass of warm water.
										<br>
										- After a week you should come for a checkup and stitches are removed on that day.
									</p>
								</div>


							</div>
						</div>
					</div>			
    			</div>
			</div>
		</div>
	</div>
</div>



<!-- <section class="ftco-gallery">
	<div class="container-wrap pl-md-5">
		<div class="row no-gutters">			
			<div class="col-md-3  ftco-animate img_div" style="height: 400px;">
				<img style="height: 200px; width: 250px;" class="d-flex align-items-center img_gal" src="{% static 'images/extraction/bharat patel.jpg' %}" alt="">
			</div>

			<div class="col-md-3  ftco-animate img_div">
				<img  style="height: 200px; width: 250px;"  class="d-flex align-items-center img_gal" src="{% static 'images/extraction/EXTRACTION.jpg' %}" alt="">
			</div>			

				<div class="col-md-3  ftco-animate img_div">
				<img  style="height: 200px; width: 250px;"  class="d-flex align-items-center img_gal" src="{% static 'images/extraction/EXTRACTION1.jpg' %}" alt="">
			</div>		

				<div class="col-md-3  ftco-animate img_div">
				<img  style="height: 200px; width: 250px;"  class="d-flex align-items-center img_gal" src="{% static 'images/extraction/suman chauhan.jpg' %}" alt="">
			</div>				
		</div>
	</div>
</section> -->


<div style="height: auto; width: 100%; padding: 5px 0; text-align: center;">
	<img style="width: 300px; height: 250px; margin: 10px 10px;" src="{% static 'images/extraction/bharat patel.jpg' %}" alt="">
	<img style="width: 300px; height: 250px; margin: 10px 10px;" src="{% static 'images/extraction/EXTRACTION.jpg' %}" alt="">
	<img style="width: 300px; height: 250px; margin: 10px 10px;" src="{% static 'images/extraction/EXTRACTION1.jpg' %}" alt="">
	<img style="width: 300px; height: 250px; margin: 10px 10px;" src="{% static 'images/extraction/suman chauhan.jpg' %}" alt="">
</div>







	






{% endblock extraction_content %}