{% extends 'treatments.html' %}
{% load static %}

{% block fluoride_treatment_content %}


	<section class="home-slider owl-carousel">
      <div class="slider-item bread-item" style="background-image: url('static/images/IMG_20201207_194906__01__01 (1).jpg'); background-size: auto 450px;">
        <div class="overlay" style="background: black;"></div>
        <div class="container" data-scrollax-parent="true">
          <div class="row slider-text align-items-end">
            <div class="col-md-7 col-sm-12 ftco-animate mb-5">
              <p class="breadcrumbs" data-scrollax=" properties: { translateY: '70%', opacity: 1.6}"><span class="mr-2">Home</span> <span>Treatments</span></p>
              <h1 class="mb-3" data-scrollax=" properties: { translateY: '70%', opacity: .9}">FLUORIDE TREATMENT</h1>
            </div>
          </div>
        </div>
      </div>
	</section>



  <section class="ftco-section ftco-services">
      <div class="container">
      	<div class="row justify-content-center mb-5">
          <div class="col-md-10 text-center heading-section ftco-animate">
            <h2 class="mb-2">FLUORIDE TREATMENT</h2>
            <br>
            <p style="text-align: justify;">
				External application of fluoride gels help prevent and fight tooth decay by restoring minerals to the teeth and hardening the enamel. It is done more commonly in children starting at the age of 6 years.
			</p>                    
          </div>
        </div>        
      </div>     
  </section>  


	
	<div class="row" style="height: auto;">
		<div class="ftco-section">
    	<div class="container">
    		<div class="row d-md-flex"> 	    		
	    		<div class="col-md-12 ftco-animate pr-md-5 order-md-first">
		    		<div class="row">
		          <div class="col-md-12 nav-link-wrap mb-5">
		            <div class="nav ftco-animate nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical" style="margin-left: 100px;">
		              <a class="nav-link active" id="v-pills-whoisthistreatmentfor-tab" data-toggle="pill" href="#v-pills-whoisthistreatmentfor" role="tab" aria-controls="v-pills-whoisthistreatmentfor" aria-selected="true">WHO IS THIS TREATMENT FOR?</a>

		              <a class="nav-link" id="v-pills-preparation-tab" data-toggle="pill" href="#v-pills-preparation" role="tab" aria-controls="v-pills-preparation" aria-selected="false">PREPARATION</a>

		              <a class="nav-link" id="v-pills-procedure-tab" data-toggle="pill" href="#v-pills-procedure" role="tab" aria-controls="v-pills-procedure" aria-selected="false">PROCEDURE</a>

					  <a class="nav-link" id="v-pills-posttreatment-tab" data-toggle="pill" href="#v-pills-posttreatment" role="tab" aria-controls="v-pills-posttreatment" aria-selected="false">POST TREATMENT CARE</a>
					  

		            </div>
		          </div>
		          <div class="col-md-12 d-flex align-items-center ml-5">
		            
		            <div class="tab-content ftco-animate" id="v-pills-tabContent">

		              <div class="tab-pane fade show active" id="v-pills-whoisthistreatmentfor" role="tabpanel" aria-labelledby="v-pills-whoisthistreatmentfor-tab">
		              	<div>			                
			              	<p style="text-align: justify;">Fluoride treatment is applicable for children after the first permanent tooth erupts. It strengthens teeth by preventing tooth decay and it also helps to stop bacteria from making acids.</p>
							<br>    
							<p style="text-align: justify;">
								As it is said "prevention is better than cure."
							</p>      
				        </div>
		              </div>

		              <div class="tab-pane fade" id="v-pills-preparation" role="tabpanel" aria-labelledby="v-pills-preparation-tab">
                    <div>			                
                      <p>
                        A detailed consultation should be done with the dentist to understand why fluoride application should be done. After all your questions are answered the dentist will proceed for the procedure. Professional cleaning of teeth should be done prior to the application of fluoride.
                      </p>                      					
                    </div>
					  </div>
					  
					  <div class="tab-pane fade" id="v-pills-procedure" role="tabpanel" aria-labelledby="v-pills-procedure-tab">
						<div>			                
						  <p>
							It is a single visit procedure. Teeth are dried by using cotton rolls or rubber dam so the fluoride doesn't become diluted. Fluoride varnish is painted on the teeth and cured by a UV light. Fluoride application is repeated multiple number of times from the age of 6 years to 13 years (once all permanent teeth have erupted).
						  </p>						 
						</div>
						  </div>

		              <div class="tab-pane fade" id="v-pills-posttreatment" role="tabpanel" aria-labelledby="v-pills-posttreatment-tab"><div>
			            	
								
								<p>
									- Child is advised not to eat or drink anything for 30-45 minutes .This is done to avoid washing away the fluoride and maximise the contact of the fluoride with the teeth.
								</p>
								<br>
								<p>
									- Do touch ups or booster sessions to maintain the fluoride application on the parts of teeth which are prone to decay.
								</p>							
				        </div>
					  </div>
		            </div>
		          </div>
		        </div>
		      </div>
			</div>			
    	</div>
	</div>
</div>









	






{% endblock fluoride_treatment_content %}