{% extends 'treatments.html' %}
{% load static %}

{% block full_mouth_construction_content %}


<section class="home-slider owl-carousel">
      <div class="slider-item bread-item" style="background-image: url('static/images/dentist-austin-texas-myDental-18.jpg');">
        <div class="overlay"></div>
        <div class="container" data-scrollax-parent="true">
          <div class="row slider-text align-items-end">
            <div class="col-md-7 col-sm-12 ftco-animate mb-5">
              <p class="breadcrumbs" data-scrollax=" properties: { translateY: '70%', opacity: 1.6}"><span class="mr-2">Home</span> <span>Treatments</span></p>
              <h1 class="mb-3" data-scrollax=" properties: { translateY: '70%', opacity: .9}">FULL MOUTH CONSTRUCTION</h1>
            </div>
          </div>
        </div>
      </div>
</section>


  <section class="ftco-section ftco-services">
      <div class="container">
      	<div class="row justify-content-center mb-5">
          <div class="col-md-10 text-center heading-section ftco-animate">
            <h2 class="mb-2">FULL MOUTH CONSTRUCTION</h2>
            <br>
            <p style="text-align: justify;">Neglected your teeth for years ? We will turn back the clock for you...</p>
			<br> 
			<p style="text-align: justify;">
				Full mouth reconstruction (rehabilitation) is needed when the oral health is neglected for many years and simple dental problems compound to destroy the function, aesthetics and health of the entire mouth.
			</p> 
			<br>
			<p style="text-align: justify;">
				As complex as it may sound, the technology available today allows patients restore their oral health and change their smile as it was in their prime years, or even better it.
			</p>
			<br>
			<p style="text-align: justify;">
				Multiple problems faced by such patients include loss or reduction of chewing ability, sensitivity of teeth, food lodgement, gum related issues, pain or discomfort and many more. The problems go beyond the mouth. Apart from the daily emotional trauma caused by these, it makes you feel older than what you are.
			</p>
			<br>
			<p style="text-align: justify;">
				In the right hands, such a situation can be reversed with ease and full mouth reconstruction would be the single most important step you can take to change your life.
			</p>
			<br>
			<p style="text-align: justify;">
				When we plan your case, many factors are taken into account like, your chief problem, associated problems, your expectations, desires, priorities, time constraints if any and your budget. After this, the treatment is exercised in a very careful and step-to-step manner. The process takes a week or two to complete.
			</p>
			<br>
			<p style="text-align: justify;">
				Full mouth reconstruction is one of the most demanding fields in dentistry and therefore expertise is paramount. Our dentists are thoroughly experienced and trained professionals with their own area of specialization. Upon request, their profile will be happily shared with you.
			</p>
          </div>
        </div>        
      </div>     
  </section>


<!-- <section class="ftco-gallery">
	<div class="container-wrap pl-md-5">
		<div class="row no-gutters">			
			<div class="col-md-3  ftco-animate img_div" style="height: 400px;">
				<img style="height: 200px; width: 250px;" class="d-flex align-items-center img_gal" src="{% static 'images/full mouth rehabilitation/amrutlal patel3.jpg' %}" alt="">
			</div>

			<div class="col-md-3  ftco-animate img_div">
				<img  style="height: 200px; width: 250px;"  class="d-flex align-items-center img_gal" src="{% static 'images/full mouth rehabilitation/amrutlal patel4.jpg' %}" alt="">
			</div>			

				<div class="col-md-3  ftco-animate img_div">
				<img  style="height: 200px; width: 250px;"  class="d-flex align-items-center img_gal" src="{% static 'images/full mouth rehabilitation/amrutlal patel6 - Copy.jpg' %}" alt="">
			</div>		

				<div class="col-md-3  ftco-animate img_div">
				<img  style="height: 200px; width: 250px;"  class="d-flex align-items-center img_gal" src="{% static 'images/full mouth rehabilitation/IMG_20190603_215133.jpg' %}" alt="">
			</div>				
		</div>
	</div>
</section> -->


<div style="height: auto; width: 100%; padding: 5px 0; text-align: center;">
	<img style="width: 300px; height: 250px; margin: 10px 10px;" src="{% static 'images/full mouth rehabilitation/amrutlal patel3.jpg' %}" alt="">
	<img style="width: 300px; height: 250px; margin: 10px 10px;" src="{% static 'images/full mouth rehabilitation/amrutlal patel4.jpg' %}" alt="">
	<img style="width: 300px; height: 250px; margin: 10px 10px;" src="{% static 'images/full mouth rehabilitation/amrutlal patel6 - Copy.jpg' %}" alt="">
	<img style="width: 300px; height: 250px; margin: 10px 10px;" src="{% static 'images/full mouth rehabilitation/IMG_20190603_215133.jpg' %}" alt="">
</div>
  

  

	
	






	






{% endblock full_mouth_construction_content %}