{% extends 'treatments.html' %}
{% load static %}

{% block braces_content %}


<section class="home-slider owl-carousel">
      <div class="slider-item bread-item" style="background-image: url('static/images/Color-Changes-to-Your-Gums_resized-800x400.jpg');">
        <div class="overlay"></div>
        <div class="container" data-scrollax-parent="true">
          <div class="row slider-text align-items-end">
            <div class="col-md-7 col-sm-12 ftco-animate mb-5">
              <p class="breadcrumbs" data-scrollax=" properties: { translateY: '70%', opacity: 1.6}"><span class="mr-2">Home</span> <span>Treatments</span></p>
              <h1 class="mb-3" data-scrollax=" properties: { translateY: '70%', opacity: .9}">GUM REHABILATION</h1>
            </div>
          </div>
        </div>
      </div>
	</section>


  <section class="ftco-section ftco-services">
      <div class="container">
      	<div class="row justify-content-center mb-5">
          <div class="col-md-10 text-center heading-section ftco-animate">
            <h2 class="mb-2">GUM REHABILATION</h2>
            <br>
			<p style="text-align: justify;">
				Sometimes gums look blackish or brownish due to excessive pigmentation. This can be corrected with a minor surgical procedure which involves stripping off the superficial layer of the gums and allowing healing with secondary intention, resulting in healthy pink and evenly coloured gums.
			</p>
			<br>
			<p style="text-align: justify;">
				The gums ideally encircle the neck of the teeth in a half moon shape. If this shape is distorted it gives a very unpleasant and abnormal appearance. This condition can be corrected with a procedure called gingivoplasty which is nothing but shaping and contouring of the gums giving a more natural and younger look to the gums.
			</p>
			<br>
			<p style="text-align: justify;">
				It is ideally recommended for those patients where-
				<br>
					- Gums are tender, swollen, infected, bleed easily while brushing.
					<br>
					- Tartar is accumulated due to unhealthy eating habits leading to a common complaint of patients that is bad breath.
					<br>
					- Gums are seen more than a tooth resulting in a gummy smile.
					<br>
					- Gums are having blackish, greyish or brownish tinge due to tobacco or any other smoking habit.
			</p>    
          </div>
        </div>        
      </div>     
  </section>  

	
	<div class="row" style="height: auto;">
		<div class="ftco-section">
    	<div class="container">
    		<div class="row d-md-flex"> 	    		
	    		<div class="col-md-12 ftco-animate pr-md-5 order-md-first">
		    		<div class="row">
		          <div class="col-md-12 nav-link-wrap mb-5">
		            <div class="nav ftco-animate nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical" style="margin-left: 350px;">

		              <a class="nav-link active" id="v-pills-procedure-tab" data-toggle="pill" href="#v-pills-procedure" role="tab" aria-controls="v-pills-procedure" aria-selected="false">PROCEDURE</a>

					  <a class="nav-link" id="v-pills-posttreatment-tab" data-toggle="pill" href="#v-pills-posttreatment" role="tab" aria-controls="v-pills-posttreatment" aria-selected="false">POST TREATMENT CARE</a>
					  
		            </div>
		          </div>
		        <div class="col-md-12 d-flex align-items-center ml-5">
		            
		            <div class="tab-content ftco-animate" id="v-pills-tabContent">						
					  
						<div class="tab-pane fade show active" id="v-pills-procedure" role="tabpanel" aria-labelledby="v-pills-procedure-tab">		                
							<p>
								A detailed consultation should be done with the dentist to understand the relation of gums and teeth. It is co - related. Overall status of gums will directly affect tooth's status and overall health. Clinical examination done by dentist and most preferably by any Periodontist or Oral Surgeon can recommend your treatment.
							</p>
							<br>
							<p>
								If you are going for a gummy smile treatment or any other gum related treatments don't forget to ask your periodontist or oral surgeon for His/ Her qualifications and experience in the field of gum treatments. Your periodontist or oral surgeon can also show you before and after images of cases similar to yours, for you to get a better understanding of the final outcome and quality of work. Professional cleaning of teeth should be done to prevent gum disease and to proceed further.
							</p>
							<br>
							<p>
								Don't forget to ask your orthodontist for His/ Her qualifications and experience in the field of braces. Your orthodontist can also show you before and after images of cases similar to yours, for you to get a better understanding of the final outcome and quality of work.
							</p>
                    	</div>

						<div class="tab-pane fade" id="v-pills-posttreatment" role="tabpanel" aria-labelledby="v-pills-posttreatment-tab">
								<p>
									Post treatment care totally depends on the procedure which is required in your case.
									<br>
									- Avoid any food / drinks that would leave a stain on teeth.
									<br>
									- No smoking.
									<br>
									- Use an anti-sensitive tooth paste for a few if you experience sensitivity due to the procedure.
									<br>
									- No pan masala or tobacco in any form which blackens your gums.
									<br>
									- Visit your dentist every 6 months. If you are more prone to gum disease 2 months visit can also be done to do a cleaning of teeth and to know the status of your mouth.

								</p>
						</div>

						
		        </div>
					</div>	  
		            </div>
		          </div>
		        </div>
		      </div>
			</div>			
    	</div>
	</div>
</div>






	






{% endblock braces_content %}