{% extends 'treatments.html' %}
{% load static %}

{% block kids_dentistry_content %}


<section class="home-slider owl-carousel">
      <div class="slider-item bread-item" style="background-image: url('static/images/bg_1.jpg');">
        <div class="overlay"></div>
        <div class="container" data-scrollax-parent="true">
          <div class="row slider-text align-items-end">
            <div class="col-md-7 col-sm-12 ftco-animate mb-5">
              <p class="breadcrumbs" data-scrollax=" properties: { translateY: '70%', opacity: 1.6}"><span class="mr-2">Home</span> <span>Treatments</span></p>
              <h1 class="mb-3" data-scrollax=" properties: { translateY: '70%', opacity: .9}">KIDS DENTISTRY</h1>
            </div>
          </div>
        </div>
      </div>
</section>


  <section class="ftco-section ftco-services">
      <div class="container">
      	<div class="row justify-content-center mb-5">
          <div class="col-md-10 text-center heading-section ftco-animate">
            <h2 class="mb-2">KIDS DENTISTRY</h2>
            <br>
            <p style="text-align: justify;">Childhood has always been identified as an imperative period in anyone’s 'dental life'. It is the time to build on the habits of oral hygiene, benefits of which a person usually feels at the later stage of life. We at Dentzz understand that managing children on the dental chair is a specialized task which involves scientifically proven techniques and therefore have a panel of Pedodontists (Dentists who specialize in treating children) to ensure that children receive the dental care they need.</p>
			<br> 
			<p style="text-align: justify;">
				Our child-friendly practice, combined with welcoming atmosphere and affectionate staff ensures that all youngsters actually have fun when they come to Dentzz. Sometimes we meet anxious children who do not know what to expect when they come to see us and our Pedodontists go an extra mile to make them feel at ease. This is done through special behaviour management techniques which involve motivating the child and eliminating unreasonable fear of the dentist’s chair.
			</p> 
          </div>
        </div>        
      </div>     
  </section>  

 


{% endblock kids_dentistry_content %}