{% extends 'treatments.html' %}
{% load static %}

{% block oral_prophylaxis_content %}


	<section class="home-slider owl-carousel">
      <div class="slider-item bread-item" style="background-image: url('static/images/Fluoride-Treatment-1920x600.jpg');">
        <div class="overlay"></div>
        <div class="container" data-scrollax-parent="true">
          <div class="row slider-text align-items-end">
            <div class="col-md-7 col-sm-12 ftco-animate mb-5">
              <p class="breadcrumbs" data-scrollax=" properties: { translateY: '70%', opacity: 1.6}"><span class="mr-2">Home</span> <span>Treatments</span></p>
              <h1 class="mb-3" data-scrollax=" properties: { translateY: '70%', opacity: .9}">ORAL PROPHYLAXIS <br> (Professional cleaning)</h1>
            </div>
          </div>
        </div>
      </div>
	</section>


  <section class="ftco-section ftco-services">
      <div class="container">
      	<div class="row justify-content-center mb-5">
          <div class="col-md-10 text-center heading-section ftco-animate">
            <h2 class="mb-2">ORAL PROPHYLAXIS(Professional cleaning)</h2>
            <br>
            <p style="text-align: center;">Regular 6 monthly check-up and cleaning is a must for healthy gums and a well integrated oral cavity. The procedure is non abrasive without any harm to the enamel as removal of plaque, stains, and tartar is done superficially with ultrasonic instruments.</p>
            <br>
            
			
          </div>
        </div>        
      </div>     
  </section>
  
	
	<div class="row" style="height: auto;">
		<div class="ftco-section">
    	<div class="container">
    		<div class="row d-md-flex"> 	    		
	    		<div class="col-md-12 ftco-animate pr-md-5 order-md-first">
		    		<div class="row">
		          <div class="col-md-12 nav-link-wrap mb-5">
		            <div class="nav ftco-animate nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
		              <a class="nav-link active" id="v-pills-whoisthistreatmentfor-tab" data-toggle="pill" href="#v-pills-whoisthistreatmentfor" role="tab" aria-controls="v-pills-whoisthistreatmentfor" aria-selected="true">WHO IS THIS TREATMENT FOR?</a>

		              <a class="nav-link" id="v-pills-procedure-tab" data-toggle="pill" href="#v-pills-procedure" role="tab" aria-controls="v-pills-procedure" aria-selected="false">PROCEDURE</a>

					  <a class="nav-link" id="v-pills-posttreatment-tab" data-toggle="pill" href="#v-pills-posttreatment" role="tab" aria-controls="v-pills-posttreatment" aria-selected="false">POST TREATMENT CARE</a>

					  <a class="nav-link" id="v-pills-tips-tab" data-toggle="pill" href="#v-pills-tips" role="tab" aria-controls="v-pills-tips" aria-selected="false">DENTAL TIPS</a>

					  
		            </div>
		          </div>
		        <div class="col-md-12 d-flex align-items-center ml-5">
		            
		            <div class="tab-content ftco-animate" id="v-pills-tabContent">

						<div class="tab-pane fade show active" id="v-pills-whoisthistreatmentfor" role="tabpanel" aria-labelledby="v-pills-whoisthistreatmentfor-tab">		                
							<p>Oral prophylaxis means tooth cleaning by your dentist and is a mandatory dental procedure to be done every 6 months. It is highly recommended for those patients who have extrinsic stains due to smoking tobacco, betel nut chewing etc, who have tartar accumulation due to unwanted food particles which leads to bad breath - a common complain of a patient and in cases of bleeding gums and infections.</p>
						</div>
					  
						<div class="tab-pane fade" id="v-pills-procedure" role="tabpanel" aria-labelledby="v-pills-procedure-tab">		                
							<p>
								The procedure usually requires only one office visit. But two or three sessions can be required varying from case to case. The dentist will use an ultrasonic cleaning tip in all the areas where the tooth brush can't reach. The vibration makes the tartar and stains loosen off from the teeth and gums. Polishing is done to get a sparkle in your teeth after cleaning is done.
							</p>									
                    	</div>

						<div class="tab-pane fade" id="v-pills-posttreatment" role="tabpanel" aria-labelledby="v-pills-posttreatment-tab">
								<p>
									<h4>After cleaning of teeth :-</h4>								
									<br>
									- Avoid any food / drinks that would leave a stain on teeth.
									<br>
									- No smoking.
									<br>
									- Use a sensitivity tooth paste for a few days if you experience sensitivity due to the procedure.								
								</p>
						</div>

						<div class="tab-pane fade" id="v-pills-tips" role="tabpanel" aria-labelledby="v-pills-tips-tab">
								<p>									
									- Maintain oral hygiene by regular brushing twice a day and flossing.
									<br>
									- Visit your dentist every 3 - 6 months.
									<br>
									- Eat healthy foods like green vegetables, fruits and dairy products like milk, cheese.
									<br>
									- Drink plenty of water before and after meals so the unwanted food particles are flushed out.
									<br>
									- Limit the consumption of acidic foods and beverages like tea, coffee, fizzy drinks.
									<br>
									- Limit the consumption of sticky foods like pizza, candies, chocolates etc.
									<br>
									- Avoid biting finger nails, pen's cap, pencils etc and avoid using your teeth to open bottles or to tear packets.						
								</p>
						</div>
		        </div>
					</div>	  
		            </div>
		          </div>
		        </div>
		      </div>
			</div>			
    	</div>
	</div>
</div>




<!-- <section class="ftco-gallery">
	<div class="container-wrap pl-md-5">
		<div class="row no-gutters">			
			<div class="col-md-3  ftco-animate img_div" style="height: 400px;">
				<img style="height: 200px; width: 250px;" class="d-flex align-items-center img_gal" src="{% static 'images/oral prophylaxis/cleaning and polishing.jpg' %}" alt="">
			</div>

			<div class="col-md-3  ftco-animate img_div">
				<img  style="height: 200px; width: 250px;"  class="d-flex align-items-center img_gal" src="{% static 'images/oral prophylaxis/Collages3.jpg' %}" alt="">
			</div>			

				<div class="col-md-3  ftco-animate img_div">
				<img  style="height: 200px; width: 250px;"  class="d-flex align-items-center img_gal" src="{% static 'images/oral prophylaxis/nawaz.jpg' %}" alt="">
			</div>		

				<div class="col-md-3  ftco-animate img_div">
				<img  style="height: 200px; width: 250px;"  class="d-flex align-items-center img_gal" src="{% static 'images/oral prophylaxis/sudarshan sahoo.jpg' %}" alt="">
			</div>				
		</div>
	</div>
</section> -->


<div style="height: auto; width: 100%; padding: 5px 0; text-align: center;">
	<img style="width: 300px; height: 250px; margin: 10px 10px;" src="{% static 'images/oral prophylaxis/cleaning and polishing.jpg' %}" alt="">
	<img style="width: 300px; height: 250px; margin: 10px 10px;" src="{% static 'images/oral prophylaxis/Collages3.jpg' %}" alt="">
	<img style="width: 300px; height: 250px; margin: 10px 10px;" src="{% static 'images/oral prophylaxis/nawaz.jpg' %}" alt="">
	<img style="width: 300px; height: 250px; margin: 10px 10px;" src="{% static 'images/oral prophylaxis/sudarshan sahoo.jpg' %}" alt="">
</div>






	






{% endblock oral_prophylaxis_content %}