{% extends 'treatments.html' %}
{% load static %}

{% block root_canal_treatment_content %}


<section class="home-slider owl-carousel">
      <div class="slider-item bread-item" style="background-image: url('static/images/gw-banner3.jpg');" >
        <div class="overlay"></div>
        <div class="container" data-scrollax-parent="true">
          <div class="row slider-text align-items-end">
            <div class="col-md-7 col-sm-12 ftco-animate mb-5">
              <p class="breadcrumbs" data-scrollax=" properties: { translateY: '70%', opacity: 1.6}"><span class="mr-2">Home</span> <span>Treatments</span></p>
              <h1 class="mb-3" data-scrollax=" properties: { translateY: '70%', opacity: .9}">ROOT CANAL TREATMENT</h1>
            </div>
          </div>
        </div>
      </div>
	</section>


  <section class="ftco-section ftco-services">
      <div class="container">
      	<div class="row justify-content-center mb-5">
          <div class="col-md-10 text-center heading-section ftco-animate">
            <h2 class="mb-2">ROOT CANAL TREATMENT</h2>
            <br>
            <p style="text-align: center;">Have you heard the rumours that root canal is an unpleasant dental procedure??</p>
            <br>
            <p style="text-align: center;">Thanks  to our specialists and skilful techniques with latest developments, root canal treatments are completely painless</p>
            <br>
            <p style="text-align: justify;">Root canals at RDC are : </p>      
            <br>      
            <p style="text-align: justify;"> 
                •	&nbsp; Are extremely comfortable and absolutely painless. Along with technical superiority, our team is specially trained to perform <br> &nbsp; &nbsp; the procedure in a gentle and soothing way.
                <br>
                <br>
                •	&nbsp; Are generally completed in one session of less than 60 minutes. If required, up to 6 root canals can be performed in a single <br> &nbsp; &nbsp; session.
                <br>
                <br>
                •	&nbsp; Are performed by globally trained Microendodontists. (Endodontists are dentists specially trained for root canals, <br> &nbsp; &nbsp; Microendodontists are a cream of endodontists with super speciality training).
                <br>
                <br>
              	•	&nbsp; Are performed under the total isolation of teeth using rubber dam techniques and using DENTAL MICROSCOPE.
            </p>
            <br>
            <br>
            
            <div>
              <img src="" alt="">
            </div>

            <p style="text-align: justify;">Consequences of delaying root canal treatments are devastating.</p>
            <p style="text-align: justify;">Root canal treatment is the removal of the infected soft tissue within the tooth and its replacement by an artificial inert ‘filling’ material. This procedure basically saves the tooth and eliminates dental pain. </p>
			
          </div>
        </div>        
      </div>     
  </section>  
  


  <section class="ftco-section ftco-services">
    <div class="container">
      <div class="row justify-content-center mb-5">
        <div class="col-md-10 text-center heading-section ftco-animate">
          <h2 class="mb-2">RESTORATIONS (Tooth Fillings)</h2>
          <br>
          <p style="text-align: justify;">Cavities or old discoloured restorations are replaced by tooth coloured composite materials. Great care is taken to maintain the natural shape and characteristics of the original tooth thereby making them indistinguishable from adjoining tooth structure using Bioclear matrix system,USA and finest brands of composite materials, thus enabling us to mimic tooth structure to the tee and allow no distinction to the human eye between the natural tooth structure and the added composite material.</p>
          <br>        
    
        </div>
      </div>        
    </div>     
</section>  



	

	
	<div class="row" style="height: auto;">
		<div class="ftco-section">
    	<div class="container">
    		<div class="row d-md-flex"> 	    		
	    		<div class="col-md-12 ftco-animate pr-md-5 order-md-first">
		    		<div class="row">
		          <div class="col-md-12 nav-link-wrap mb-5">
		            <div class="nav ftco-animate nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
		              <a class="nav-link active" id="v-pills-whoisthistreatmentfor-tab" data-toggle="pill" href="#v-pills-whoisthistreatmentfor" role="tab" aria-controls="v-pills-whoisthistreatmentfor" aria-selected="true">WHO IS THIS TREATMENT FOR?</a>

		              <a class="nav-link" id="v-pills-procedure-tab" data-toggle="pill" href="#v-pills-procedure" role="tab" aria-controls="v-pills-procedure" aria-selected="false">PROCEDURE</a>

					  <a class="nav-link" id="v-pills-posttreatment-tab" data-toggle="pill" href="#v-pills-posttreatment" role="tab" aria-controls="v-pills-posttreatment" aria-selected="false">POST TREATMENT CARE</a>
					  
		              <a class="nav-link" id="v-pills-tips-tab" data-toggle="pill" href="#v-pills-tips" role="tab" aria-controls="v-pills-tips" aria-selected="false">DENTAL TIPS</a>

		            </div>
		          </div>
		          <div class="col-md-12 d-flex align-items-center ml-5">
		            
		            <div class="tab-content ftco-animate" id="v-pills-tabContent">

		              <div class="tab-pane fade show active" id="v-pills-whoisthistreatmentfor" role="tabpanel" aria-labelledby="v-pills-whoisthistreatmentfor-tab">
		              	<div>			                
			              	<p>Restorations are recommended for those who want to restore the function, integrity and morphology of a missing tooth structure resulting from decay or physical injury to the tooth.
                        <br>
                        <br>
                        TO CORRECT : -
							<br>
							
							<p style="margin-left: 50px;"> •	Stained 
								<br>
									•	Chips
								<br>
									•	Fractures
								<br>
									•	Gaps
								<br>								
									•	Stains
								<br>								
							</p>
							<br>				
								
							<p>The Procedure is long lasting as the material is durable and as easy to maintain as your natural tooth structure.</p>
											                
				            </div>
		              </div>

		              <div class="tab-pane fade" id="v-pills-procedure" role="tabpanel" aria-labelledby="v-pills-procedure-tab">
                    <div>			                
                      <p>
                        A detailed consultation should be done with the dentist to understand the advantages and disadvantages. X – ray(radiograph) is taken to check the status of the affected tooth. After it is decided that restoration is the treatment of choice, your dentist will proceed further.
                      </p>
                      <br>							
                    </div>
		              </div>

		              <div class="tab-pane fade" id="v-pills-posttreatment" role="tabpanel" aria-labelledby="v-pills-posttreatment-tab"><div>
			            	<p>
								- You can eat or drink right away after the procedure.
                <br>
                <br>
								- Avoid food and drinks that can stain the teeth and avoid certain habits such as biting on fingernails, pen caps, pens, pencils and other hard  &nbsp; objects which can wear down the bonding material and tooth enamel over time.
                <br>
                <br>
								- Visit your dentist regularly to keep a check on the restored teeth and polish off any stains if accumulated.
							</p>
				        </div>
					  </div>
					  
					  <div class="tab-pane fade" id="v-pills-tips" role="tabpanel" aria-labelledby="v-pills-tips-tab">
		                <div>
			            	<p>
								- Maintain oral hygiene by regular brushing twice a day and flossing.
								<br>
								- Visit your dentist every 3 - 6 months.
								<br>
								- Eat healthy foods like green vegetables, fruits and dairy products like milk, cheese.
								<br>
								- Drink plenty of water before and after meals so the unwanted food particles are flushed out.
								<br>
								- Limit the consumption of acidic foods and beverages like tea, coffee, fizzy drinks.
								<br>
								- Limit the consumption of sticky foods like pizza, candies, chocolates etc.
								<br>
								- Avoid biting finger nails, pen's cap, pencils etc and avoid using your teeth to open bottles or to tear packet

							</p>
				        </div>
		              </div>
		            </div>
		          </div>
		        </div>
		      </div>
			</div>			
    	</div>
	</div>
</div>



<!-- <section class="ftco-gallery">
	<div class="container-wrap pl-md-5">
		<div class="row no-gutters">			
			<div class="col-md-3  ftco-animate img_div" style="height: 400px;">
				<img style="height: 200px; width: 250px;" class="d-flex align-items-center img_gal" src="{% static 'images/root canal treatment/2020-01-15.jpg' %}" alt="">
			</div>

			<div class="col-md-3  ftco-animate img_div">
				<img  style="height: 200px; width: 250px;"  class="d-flex align-items-center img_gal" src="{% static 'images/root canal treatment/2020-06-30 (1).jpg' %}" alt="">
			</div>			

				<div class="col-md-3  ftco-animate img_div">
				<img  style="height: 200px; width: 250px;"  class="d-flex align-items-center img_gal" src="{% static 'images/root canal treatment/Collages5.jpg' %}" alt="">
			</div>		

				<div class="col-md-3  ftco-animate img_div">
				<img  style="height: 200px; width: 250px;"  class="d-flex align-items-center img_gal" src="{% static 'images/root canal treatment/Desktop9.jpg' %}" alt="">
			</div>				
		</div>
	</div>
</section> -->

<div style="height: auto; width: 100%; padding: 5px 0; text-align: center;">
	<img style="width: 300px; height: 150px; margin: 10px 15px;" src="{% static 'images/root canal treatment/2020-01-15.jpg' %}" alt="">
	<img style="width: 300px; height: 150px; margin: 10px 15px;" src="{% static 'images/root canal treatment/2020-06-30 (1).jpg' %}" alt="">
	<img style="width: 300px; height: 150px; margin: 10px 15px;" src="{% static 'images/root canal treatment/Collages5.jpg' %}" alt="">
	<img style="width: 300px; height: 150px; margin: 10px 15px;" src="{% static 'images/root canal treatment/Desktop9.jpg' %}" alt="">
</div>






	






{% endblock root_canal_treatment_content %}