{% extends 'treatments.html' %}
{% load static %}

{% block teeth_whitening_content %}


<section class="home-slider owl-carousel">
      <div class="slider-item bread-item" style="background-image: url('static/images/Teeth-Whitening-in-Bristol.jpg');">
        <div class="overlay"></div>
        <div class="container" data-scrollax-parent="true">
          <div class="row slider-text align-items-end">
            <div class="col-md-7 col-sm-12 ftco-animate mb-5">
              <p class="breadcrumbs" data-scrollax=" properties: { translateY: '70%', opacity: 1.6}"><span class="mr-2">Home</span> <span>Treatments</span></p>
              <h1 class="mb-3" data-scrollax=" properties: { translateY: '70%', opacity: .9}">TEETH WHITENING</h1>
            </div>
          </div>
        </div>
      </div>
</section>


  <section class="ftco-section ftco-services">
      <div class="container">
      	<div class="row justify-content-center mb-5">
          <div class="col-md-10 text-center heading-section ftco-animate">
            <h2 class="mb-2">TEETH WHITENING</h2>
            <br>
            <p style="text-align: justify;">Don't hesitate to smile because of your yellow, stained, dull teeth.. Tooth whitening is the perfect solution to a dazzling smile with shining white brilliant teeth!! The procedure involves application of whitening gels containing hydrogen peroxide which oxidize the stains and remove them completely.</p>
            <br>  
          </div>
        </div>        
      </div>     
  </section>  
  

  	

  

	
	<div class="row" style="height: auto;">
		<div class="ftco-section">
    	<div class="container">
    		<div class="row d-md-flex"> 	    		
	    		<div class="col-md-12 ftco-animate pr-md-5 order-md-first">
		    		<div class="row">
		          <div class="col-md-12 nav-link-wrap mb-5">
		            <div class="nav ftco-animate nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
		              <a class="nav-link active" id="v-pills-whoisthistreatmentfor-tab" data-toggle="pill" href="#v-pills-whoisthistreatmentfor" role="tab" aria-controls="v-pills-whoisthistreatmentfor" aria-selected="true">WHO IS THIS TREATMENT FOR?</a>

		              <a class="nav-link" id="v-pills-preparation-tab" data-toggle="pill" href="#v-pills-preparation" role="tab" aria-controls="v-pills-preparation" aria-selected="false">PREPARATION</a>

		              <a class="nav-link" id="v-pills-procedure-tab" data-toggle="pill" href="#v-pills-procedure" role="tab" aria-controls="v-pills-procedure" aria-selected="false">PROCEDURE</a>

					  <a class="nav-link" id="v-pills-posttreatment-tab" data-toggle="pill" href="#v-pills-posttreatment" role="tab" aria-controls="v-pills-posttreatment" aria-selected="false">POST TREATMENT CARE</a>
					  
		            </div>
		          </div>
		          <div class="col-md-12 d-flex align-items-center ml-5">
		            
		            <div class="tab-content ftco-animate" id="v-pills-tabContent">

		              <div class="tab-pane fade show active" id="v-pills-whoisthistreatmentfor" role="tabpanel" aria-labelledby="v-pills-whoisthistreatmentfor-tab">
		              	<div>			                
			              	<p style="text-align: justify;">
								Tooth whitening is ideal for patients who have extrinsic stains on their teeth due to smoking, wine, coffee, tea, cola etc. Age is another factor that can cause your teeth to yellow.
			              	</p>
                        <br>
						<br>
						
							<h4>Add white to your wardrobe with our teeth whitening!</h4>		
							<br>							
							<p>
								It is not recommended to those patients who have sensitive teeth , exposed root surfaces , caps (crowns), veneers or fillings and if there is any internal discolouration due to injury / trauma.
							</p>										                
				        </div>
					  </div>
					  
					  	<div class="tab-pane fade" id="v-pills-preparation" role="tabpanel" aria-labelledby="v-pills-preparation-tab">                
							<p style="text-align: justify;">
								A detailed consultation should be done with the dentist to understand the advantages and disadvantages. Find out the various methods for tooth whitening and which one is best suited for your teeth .Professional cleaning of teeth should be done prior to the tooth whitening procedure.
							</p>						
						</div>

						<div class="tab-pane fade" id="v-pills-procedure" role="tabpanel" aria-labelledby="v-pills-procedure-tab">                
							<p style="text-align: justify;">
								The procedure usually requires only one office visit. The dentist will apply either a protective gel to your gums or a rubber shield to protect your gums. Bleaching gel is then applied to the teeth. A special light or laser might be used to enhance the action of the whitening agent. Not all offices offer this type of system so speak with your dentist and see if this is an option. This session lasts 10 to 15 minutes. Two or three of these sessions may be required varying from case to case. 
							</p>						
						</div>
		            

		              <div class="tab-pane fade" id="v-pills-posttreatment" role="tabpanel" aria-labelledby="v-pills-posttreatment-tab">
						<div>
							<h4>For 24 hours after whitening of tooth :-</h4>
			            	<p>
								- Avoid any food / drinks that would leave a stain on teeth.
								<br>
								- No smoking for 24 hours.
								<br>
								- Avoid mouthwash for 24 hours.
								<br>
								- Use an anti-sensitive tooth paste if you experience sensitivity due to the procedure.
								<br>
								- Do touch ups or booster sessions to maintain the brightness of your whitened teeth.
								<br>
								- Don't use over the counter products like tooth whitening pastes, strips, gels, pens or any other home remedy like baking soda to whiten your teeth. It may sometimes harm your teeth and gums. Get a recommendation from your dentist.
							</p>
				        </div>
					  </div>
		            </div>
		          </div>
		        </div>
		      </div>
			</div>			
    	</div>
	</div>
</div>


<!-- <section class="ftco-gallery">
	<div class="container-wrap pl-md-5" style="margin-left: 200px;">
		<div class="row no-gutters">			
			<div class="col-md-3  ftco-animate img_div" style="height: 400px;">
				<img style="height: 200px; width: 250px;" class="d-flex align-items-center img_gal" src="{% static 'images/DENTAL BLEACHING/before-after-teeth-whitening.jpg' %}" alt="">
			</div>

			<div class="col-md-3  ftco-animate img_div">
				<img  style="height: 200px; width: 250px;"  class="d-flex align-items-center img_gal" src="{% static 'images/DENTAL BLEACHING/teeth_whitening_1.jpg' %}" alt="">
			</div>			

				<div class="col-md-3  ftco-animate img_div">
				<img  style="height: 200px; width: 250px;"  class="d-flex align-items-center img_gal" src="{% static 'images/DENTAL BLEACHING/whitening-ba.jpg' %}" alt="">
			</div>		

				
		</div>
	</div>
</section> -->


<div style="height: auto; width: 100%; padding: 5px 0; text-align: center;">
	<img style="width: 250px; height: 250px; margin: 10px 20px;" src="{% static 'images/DENTAL BLEACHING/before-after-teeth-whitening.jpg' %}" alt="">
	<img style="width: 250px; height: 250px; margin: 10px 20px;" src="{% static 'images/DENTAL BLEACHING/teeth_whitening_1.jpg' %}" alt="">
	<img style="width: 250px; height: 250px; margin: 10px 20px;" src="{% static 'images/DENTAL BLEACHING/whitening-ba.jpg' %}" alt="">
</div>






	






{% endblock teeth_whitening_content %}